<h1>Listing meeting_times</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_times.each do |meeting_time| %>
  <tr>
    <td><%= link_to 'Show', meeting_time %></td>
    <td><%= link_to 'Edit', edit_meeting_time_path(meeting_time) %></td>
    <td><%= link_to 'Destroy', meeting_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting time', new_meeting_time_path %>
