<div class="top_block">
  <div class="row">
    <div class="span1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="span12">
      <span class="slogan">
        Make money sharing your
        <br/>
        &nbsp;&nbsp;&nbsp;backpacks, suitcases, tents, and more.  
      </span>
    </div>
  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="span4 offset4">
      <%= image_tag 'headlinedivider.png' %>
    </div>
  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="span5 offset7">
      <span class="sub_slogan">
        Rent affordable gear from 
        <br/>
        &nbsp;&nbsp;&nbsp;others in the Houston area.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
  </div>
</div>

<div class="middle_block">
  <div class="row">
    <div class="span12">
      <div class="span2 offset2">
        <div class="search_text">
          Search &nbsp;
        </div> 
      </div>
      <div class="span4 offset0">
        <div class="search_box">
        </div>
      </div>
      <div class="span1 offset1">
        <div class="go_box">
          <div class="go_text">
            Go!
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>

