<p id="notice"><%= notice %></p>
<h2><%= "#{current_user.email}'s dashboard" %></h2>  
<hr/>

<div class="row">
  <%= render :partial => "dashboard_left" %>
  
  <div class="span9 right_bar">
    
  </div>
</div>
